<h2 mat-dialog-title>End route ?</h2>
<mat-dialog-content>
  <p>Are you sure that you want to finish the current route?</p>
  <p>All your finished routes are added to your history.</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="goBack()">No</button>
  <button class="mat-raised-button mat-primary"(click)="endRoute()">Yes</button>
</mat-dialog-actions>
