<div class="container">
<mat-card class = "card">
  <mat-card-title>Contact</mat-card-title>
  <mat-card-content><b>Email:</b> h4311@pathfinder.com</mat-card-content>
  <mat-card-content><b>Phone number:</b> (+33) 765 435 689</mat-card-content>
  <mat-card-content><b>Address:</b> 7 Avenue Jean Capelle O, 69100 Villeurbanne, France </mat-card-content>
</mat-card>
</div>
