<div id="routeViewContainer">
  <agm-map [latitude]="route.origin.latitude" [longitude]="route.origin.longitude" gestureHandling='greedy'>
    <agm-marker *ngFor="let pos of route.waypoints" [latitude]="pos.coordinates.latitude"
                [longitude]="pos.coordinates.longitude"
                [iconUrl]="pos.iconUrl" (markerClick)="clickedMarker(pos, infoWindow)">
      <agm-info-window #infoWindow>
        <span>{{pos.name}}</span>
        <br/>
        <div *ngIf="pos.passed">
          <button mat-icon-button *ngFor="let star of stars; let i = index" (click)="onStarClick(i,pos)">
            <mat-icon color="{{star.color}}">grade</mat-icon>
          </button>
          <button mat-icon-button (click)="sendPOIRating(pos)">
            Rate
          </button>
        </div>
        <br/>
        <button mat-raised-button class="btn btn-success bottom-buttons" *ngIf="routeIsBeginned"
                (click)="markerToggle(pos)">
          <span *ngIf="!pos.passed">Mark as passed</span>
        </button>
      </agm-info-window>
    </agm-marker>
    <agm-marker [latitude]="route.origin.latitude" [longitude]="route.origin.longitude"
                [iconUrl]="route.origin.iconUrl" (markerClick)="clickedMarker(route.origin, infoWindow)">
      <agm-info-window #infoWindow>{{route.originName}}</agm-info-window>
    </agm-marker>
    <agm-marker [latitude]="route.destination.latitude" [longitude]="route.destination.longitude"
                [iconUrl]="route.destination.iconUrl" (markerClick)="clickedMarker(route.destination, infoWindow)">
      <agm-info-window #infoWindow>{{route.destinationName}}</agm-info-window>
    </agm-marker>

    <sebm-google-map-directions [origin]="route.origin" [destination]="route.destination"
                                [waypoints]="waypointsCoordinates"></sebm-google-map-directions>

  </agm-map>

  <div id="routeViewbuttonsContainer">
    <button mat-raised-button class="btn btn-success bottom-buttons" *ngIf="!routeIsBeginned&&!routeIsSaved"
            (click)="buttonSave()">Save route
    </button>
    <button mat-raised-button class="btn btn-success bottom-buttons" *ngIf="!routeIsBeginned" (click)="buttonBegin()">
      Begin route
    </button>
    <button mat-raised-button class="btn btn-success bottom-buttons" *ngIf="routeIsBeginned" (click)="buttonCancel()">
      Cancel route
    </button>
    <button mat-raised-button class="btn btn-success bottom-buttons" *ngIf="routeIsBeginned" (click)="buttonFinish()">
      Finish route
    </button>
  </div>
</div>
