<h2 mat-dialog-title>Cancel the current route?</h2>
<mat-dialog-content>
  <p>Are you sure that you want to cancel the current route?</p>
  <p>Canceled routes are neither saved, nor added to your history</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="goBack()">No</button>
  <button class="mat-raised-button mat-primary"(click)="cancelRoute()">Yes</button>
</mat-dialog-actions>
