.slider{
  width: 400px;
  max-width: 70vw;
}
.container{
  width: 100%;
  height: 100%;
}
.preferences {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preferences-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  align-self: center;
}
