<div class="content container preferences">
  <h1 class="title">Preferences</h1>
  <h4> (Where 0 is not interested and 5 is interested)</h4>
  <br/>

  <div class="preferences-item" *ngFor="let preference of getPreferencesList()">
    <h3 class="preferences-title"> {{ preference.title }} </h3>
    <div class="preferences-slider">
      <mat-slider
        layout-align="end"
        id="sport-slider"
        class="slider"
        [disabled]="disabled"
        [invert]="invert"
        [max]="max"
        [min]="min"
        [step]="step"
        [thumb-label]="thumbLabel"
        [tick-interval]="tickInterval"
        [(ngModel)]="preference.value"
        [vertical]="vertical">
      </mat-slider>
    </div>
  </div>

  <button mat-raised-button (click)="onSubmit()" class="btn btn-success">Submit</button>
</div>
