<mat-toolbar color="primary" id="toolbar">
  <button type="button" mat-button (click)="drawer.toggle()" *ngIf="mat_toolbar_button=='menu'">
    <mat-icon>menu</mat-icon>
  </button>
  <button type="button" mat-button (click)="back()" *ngIf="mat_toolbar_button=='arrow_back'">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ title }}</span>
</mat-toolbar>

<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer">

    <div class="list-container" *ngIf="!connected">
      <div class="drawer-header">
        <span>Welcome</span>
      </div>
      <mat-nav-list class="side-menu-list">
        <a mat-button-inner (click)="drawer.toggle()" routerLink="/home" class="side-menu-button">
          <mat-list-item class="side-menu-item">
            Home
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>
        <a mat-button-inner (click)="drawer.toggle()" routerLink="/sign-up" class="side-menu-button" >
          <mat-list-item class="side-menu-item">
            Sign Up
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>
        <a mat-button-inner (click)="drawer.toggle()" routerLink="/log-in" class="side-menu-button">
          <mat-list-item class="side-menu-item">
            Log In
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>
        <a mat-button-inner (click)="drawer.toggle()" routerLink="/about-us" class="side-menu-button">
          <mat-list-item class="side-menu-item">
            About Us
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>
        <a mat-button-inner (click)="drawer.toggle()" routerLink="/contact" class="side-menu-button">
          <mat-list-item class="side-menu-item">
            Contact
          </mat-list-item>
        </a>
      </mat-nav-list>
    </div>


    <div class="list-container" *ngIf="connected">
      <div class="drawer-header">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Missing_avatar.svg/2000px-Missing_avatar.svg.png" alt="Avatar" class="profile-image">
        <br/>
        <span>{{this.userService.connectedUser.name}}</span>
        <br/>
      </div>
      <mat-nav-list class="side-menu-list">
        <a mat-button-inner (click)="drawer.toggle()" routerLink="/home" class="side-menu-button">
          <mat-list-item class="side-menu-item">
            Home
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>
        <a mat-button-inner (click)="drawer.toggle()" routerLink="/preferences" class="side-menu-button">
          <mat-list-item class="side-menu-item">
            Edit Preferences
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>
        <a mat-button-inner (click)="drawer.toggle()" routerLink="/route-view" class="side-menu-button">
          <mat-list-item class="side-menu-item" *ngIf="routeExist">
            Current Route
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>
        <a mat-button-inner (click)="drawer.toggle()" routerLink="/new-route-form" class="side-menu-button">
          <mat-list-item class="side-menu-item" *ngIf="!routeExist">
            New Route
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>
        <a mat-button-inner (click)="drawer.toggle()" routerLink="/history" class="side-menu-button">
          <mat-list-item class="side-menu-item">
            History
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>
        <a mat-button-inner (click)="drawer.toggle()" routerLink="/saved-routes" class="side-menu-button">
          <mat-list-item class="side-menu-item">
            Saved Routes
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>
        <a mat-button-inner (click)="drawer.toggle()" routerLink="/about-us" class="side-menu-button">
          <mat-list-item class="side-menu-item">
            About Us
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>
        <a mat-button-inner (click)="drawer.toggle()" routerLink="/contact" class="side-menu-button">
          <mat-list-item class="side-menu-item">
            Contact
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>
        <a mat-button-inner (click)="disconnect(); drawer.toggle()" class="side-menu-button">
          <mat-list-item class="side-menu-item">
            Log out
          </mat-list-item>
        </a>
      </mat-nav-list>
    </div>


  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>

