.drawer-container {
  height: 90%;
  width: 100%;
}

.list-container {
  height: 100%;
  width: 100%;
}
.drawer-header {
  width: 100%;
  height: 20%;
}

#toolbar {
  background-color: #3fb55f;
  height: 10%;
}
.drawer {
  width: 250px;
  max-width: 70vw;
  text-align: center;
  background-color: #3fb55f;
  color: aliceblue;
}

.profile-image {
  border-radius: 50%;
  height: 90%;
}

.side-menu-item {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #328a4a;
  border: 2px solid #328a4a;
  color: aliceblue;
  letter-spacing: 2px;
  text-decoration-style: solid;
}


