<div id="historyContainer" *ngIf="savedRoutes">
  <h1>Saved Routes</h1>

  <mat-divider *ngIf="!lastItem"></mat-divider>
  <mat-nav-list>
    <div *ngFor="let route of savedRoutes; let lastItem = last;">
      <mat-list-item >
        <h4 mat-line (click)="onRouteClick(route)">
          {{route.type}} :
          {{route.originName}}
          <mat-icon class="arrow">forward</mat-icon>
          {{route.destinationName}}
        </h4>
        <p mat-line>{{route.dateTime}}</p>
        <button mat-icon-button  (click)="deleteRoute(route)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider *ngIf="!lastItem"></mat-divider>
    </div>
  </mat-nav-list>

</div>
