img {
  height: 300px;
  margin-right: 4px;
}

.members-container{
  display: flex;
  text-align: center;
}

.member-container {
  text-align: center;
}

.container {
  text-align: center;
}

.nav-list {
  width: 100%;
  align-items: center;
  justify-content: center;
}
