<div class="container">
  <h1>About Us</h1>
  <p>This project was created the group H4311 with the following members:</p>
  <div class="members-container">
    <mat-nav-list class="nav-list">
    <div class="member-container">
      <img src="https://image.ibb.co/nr33in/18920543_1347316895323915_8191377048193919945_n.jpg"/>
      <h3> Dan ANDRIES </h3>
    </div>
    <div class="member-container">
      <img src="https://image.ibb.co/dcmg3n/25151887_10209847163647523_3270900866220580305_n.jpg"/>
      <h3> Cristina ARHILIUC </h3>
    </div>
    <div class="member-container">
    <img src="https://preview.ibb.co/jZMQUS/14249689_1089977747716679_8158022536299821864_o.jpg"/>
    <h3> Horia BURCA </h3>
    </div>
    <div class="member-container">
      <img src="https://image.ibb.co/fj7X9S/18195070_1181243958653207_7461886940186065396_n.jpg"/>
      <h3> Axel CEARD </h3>
    </div>
    <div class="member-container">
      <img src="https://preview.ibb.co/kzaiin/11215806_963067580422576_7802117338081847287_n.jpg"/>
      <h3> Tim GONNET </h3>
    </div>
    <div class="member-container">
      <img src="https://image.ibb.co/hYbOin/14956543_1887563911464770_3464417173325882167_n.jpg"/>
      <h3> Laurent TURPIN</h3>
    </div>
    </mat-nav-list>
  </div>
</div>
