<div class="container">
  <h1>Sign In</h1>
  <br/>
  <form (ngSubmit)="onSubmit()" #signUp="ngForm">
    <mat-form-field>
      <input matInput placeholder="Name" type="text" id="name" required
             [(ngModel)]="name" name="name">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" id="password" required
             [(ngModel)]="password" name="password">
    </mat-form-field>
    <br/>
    <button mat-raised-button type="submit" class="btn btn-success" [disabled]="!signUp.form.valid">Log In</button>
  </form>
  <button mat-button color="primary" routerLink="/sign-up">Sign up</button>
</div>
