<div id="container">
  <h1>Sign Up</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" #signUp="ngForm">

    <mat-form-field>
      <input matInput placeholder="Name" type="text" id="name" [formControl]="form.get('name')" required
             [(ngModel)]="user.name" name="name">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="Email" type="text" id="email" [formControl]="form.get('emailControl')" required
             [(ngModel)]="user.email" name="email">
      <mat-error *ngIf="form.get('emailControl').invalid">{{getErrorMessageEmail()}}</mat-error>
    </mat-form-field>
    <br/>

    <mat-form-field>
      <input matInput placeholder="Password" type="password" id="pw" [formControl]="form.get('password')" required
             [(ngModel)]="user.password" name="password">
      <mat-error *ngIf="form.get('password').invalid">{{getErrorMessagePassword()}}</mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="Confirm Password" type="password" id="pwConfirm" [formControl]="form.get('passwordConfirm')" required
             [(ngModel)]="passwordC" name="passwordC">
    </mat-form-field>
    <br/>

    <button mat-raised-button type="submit" class="btn btn-success" [disabled]="!signUp.form.valid">Submit</button>

  </form>
</div>
