<div id="container">
  <div id="container-form layout-sm" >
    <form [formGroup]="form" #createNewRouteFrom="ngForm" style="margin-left: 30px;">
      <mat-form-field>
        <mat-select placeholder="Category" [(ngModel)]="trackRequest.category" id="category"
                    [formControl]="form.get('category')" required (change)="checkButtonDisabled()">
          <mat-option value="sport">Sport</mat-option>
          <mat-option value="culture">Culture</mat-option>
          <mat-option value="drink">Drink</mat-option>
          <mat-option value="gastronomic">Gastronomic</mat-option>
        </mat-select>

      </mat-form-field>
      <button mat-raised-button  class="btn btn-success bottom-buttons"  [disabled]="createButtonDisabled" (click)="getRoute()"  style="margin-left: 5px">Create Route</button>

    </form>

  </div>


</div>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Search with google
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-form-field>
    <input matInput placeholder="Start Point" [formControl]="form.get('origin')"
           [(ngModel)]="trackRequest.origin" name="origin" (focusout)="searchStartPoint()" (keydown.enter)="searchStartPoint()">
  </mat-form-field>
  <input type="image" src="assets/marker-green.png" alt="Start img"  (click)="searchStartPoint()">
  <br/>
  <mat-form-field>
    <input matInput placeholder="End Point" [formControl]="form.get('destination')"
           [(ngModel)]="trackRequest.destination" name="destination" (focusout)="searchEndPoint()" (keydown.enter)="searchEndPoint()">
  </mat-form-field>
  <input type="image" src="assets/marker-red.png" alt="Start img" (click)="searchEndPoint()">
</mat-expansion-panel>
<agm-map [latitude]="45.7634" [longitude]="4.8351" (mapClick)="placeMarker($event)">
  <agm-marker *ngIf="origin" [latitude]="origin.latitude" [longitude]="origin.longitude"
              [iconUrl]="'assets/marker-green.png'" [markerDraggable]="true" (dragEnd)="markerMoved(true,$event)">
  </agm-marker>

  <agm-marker *ngIf="destination" [latitude]="destination.latitude" [longitude]="destination.longitude"
              [iconUrl]="'assets/marker-red.png'" [markerDraggable]="true" (dragEnd)="markerMoved(false,$event)">
  </agm-marker>
</agm-map>

<div class="bottom-buttons">
  <!--<button mat-raised-button class="btn btn-success bottom-buttons" (click)="this.router.navigateByUrl('/new-route-map')">View Map</button>-->
  </div>

