<div id="homeContainer">
  <span class="buttonAdd">
    <button mat-fab routerLink="/new-route-form" *ngIf="userService.connectedUser">
      <mat-icon>add circle</mat-icon>
    </button>
  </span>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true" *ngIf="userService.connectedUser">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Recommended
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <div *ngFor="let route of recommended; let lastItem = last;">
          <mat-list-item  (click)="onRouteClick(route)">
            {{route.originName}} <mat-icon class="arrow">forward</mat-icon> {{route.destinationName}}
          </mat-list-item>
          <mat-divider *ngIf="!lastItem"></mat-divider>
        </div>
      </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Top Sport
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <div *ngFor="let route of topSport; let lastItem = last;">
          <mat-list-item  (click)="onRouteClick(route)">
            {{route.originName}} <mat-icon class="arrow">forward</mat-icon> {{route.destinationName}}
          </mat-list-item>
          <mat-divider *ngIf="!lastItem"></mat-divider>
        </div>
      </mat-nav-list>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Top Culture
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <div *ngFor="let route of topCulture; let lastItem = last;">
          <mat-list-item  (click)="onRouteClick(route)">
            {{route.originName}} <mat-icon class="arrow">forward</mat-icon> {{route.destinationName}}
          </mat-list-item>
          <mat-divider *ngIf="!lastItem"></mat-divider>
        </div>
      </mat-nav-list>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Top Nightlife
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <div *ngFor="let route of topNight; let lastItem = last;">
          <mat-list-item  (click)="onRouteClick(route)">
            {{route.originName}} <mat-icon class="arrow">forward</mat-icon> {{route.destinationName}}
          </mat-list-item>
          <mat-divider *ngIf="!lastItem"></mat-divider>
        </div>
      </mat-nav-list>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Top Gastronomy
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <div *ngFor="let route of topGastronomy; let lastItem = last;">
          <mat-list-item  (click)="onRouteClick(route)">
            {{route.originName}} <mat-icon class="arrow">forward</mat-icon> {{route.destinationName}}
          </mat-list-item>
          <mat-divider *ngIf="!lastItem"></mat-divider>
        </div>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
