agm-map {
  height: 60%;
  width : 100%;
}

#reviewRouteViewContainer{
  width : 100%;
  height: 100%;
}
#reviewRouteViewbuttonsContainer{
  margin-top: 0.5%;
  text-align: center;
}
.centredTitle {
  text-align: center;
}

.routeReview {
  margin: 1%;
}
