<div id="reviewRouteViewContainer">

  <h3 *ngIf="route.creator!=null" class="centredTitle">Route created by {{route.creator.name}}</h3>

  <agm-map [latitude]="route.origin.latitude" [longitude]="route.origin.longitude" gestureHandling='greedy'>
    <agm-marker *ngFor="let pos of route.waypoints" [latitude]="pos.coordinates.latitude" [longitude]="pos.coordinates.longitude"
                [iconUrl]="pos.iconUrl" (markerClick)="clickedMarker(pos, infoWindow)">
      <agm-info-window #infoWindow>{{pos.name}}</agm-info-window>
    </agm-marker>
    <agm-marker [latitude]="route.origin.latitude" [longitude]="route.origin.longitude"
                [iconUrl]="route.origin.iconUrl" (markerClick)="clickedMarker(route.origin, infoWindow)">
      <agm-info-window #infoWindow>Start point</agm-info-window>
    </agm-marker>
    <agm-marker [latitude]="route.destination.latitude" [longitude]="route.destination.longitude"
                [iconUrl]="route.destination.iconUrl" (markerClick)="clickedMarker(route.destination, infoWindow)">
      <agm-info-window #infoWindow>End Point</agm-info-window>
    </agm-marker>

    <sebm-google-map-directions [origin]="route.origin" [destination]="route.destination" [waypoints]="waypointsCoordinates"></sebm-google-map-directions>

  </agm-map>

  <h3 *ngIf="route.creator!=null" class="centredTitle">Comments :</h3>
  <mat-card *ngFor="let review of route.reviews" class="routeReview">
    <mat-card-header>
      <mat-card-title>{{review.user.name}} : </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p style="margin: 10px 0px 10px 0px">
        {{review.comment}}
      </p>
      <mat-icon *ngIf="1<=review.note" color="warn">grade</mat-icon>
      <mat-icon *ngIf="2<=review.note" color="warn">grade</mat-icon>
      <mat-icon *ngIf="3<=review.note" color="warn">grade</mat-icon>
      <mat-icon *ngIf="4<=review.note" color="warn">grade</mat-icon>
      <mat-icon *ngIf="5<=review.note" color="warn">grade</mat-icon>
      <mat-icon *ngIf="1>review.note" disabled>grade</mat-icon>
      <mat-icon *ngIf="2>review.note" disabled>grade</mat-icon>
      <mat-icon *ngIf="3>review.note" disabled>grade</mat-icon>
      <mat-icon *ngIf="4>review.note" disabled>grade</mat-icon>
      <mat-icon *ngIf="5>review.note" disabled>grade</mat-icon>
    </mat-card-content>
  </mat-card>

  <div id="reviewRouteViewbuttonsContainer" >
    <button mat-raised-button class="btn btn-success bottom-buttons" *ngIf="!routeIsBeginned" (click)="buttonGo()">Go</button>
  </div>
</div>
