<h2 mat-dialog-title>Rate route</h2>
<mat-dialog-content>
  <button mat-icon-button *ngFor="let star of stars; let i = index"  (click)="onStarClick(i)">
    <mat-icon color="{{star.color}}">grade</mat-icon>
  </button>

  <textarea matInput [(ngModel)]="comment" name="comment" placeholder="Leave a comment"></textarea>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="ok()">OK</button>
</mat-dialog-actions>
