<div id="historyContainer" *ngIf="history">
  <h1>History</h1>

  <mat-divider *ngIf="!lastItem"></mat-divider>
  <mat-nav-list>
    <div *ngFor="let route of history; let lastItem = last;">
      <mat-list-item (click)="onRouteClick(route)">
        <h4 mat-line>
          {{route.type}} :
          {{route.originName}}
          <mat-icon class="arrow">forward</mat-icon>
          {{route.destinationName}}
        </h4>
        <p mat-line>{{route.dateTime}}</p>
      </mat-list-item>
      <mat-divider *ngIf="!lastItem"></mat-divider>
    </div>
  </mat-nav-list>

</div>
